#load {
  position: absolute;
  visibility: hidden;
}
#loadingPicture {
  position: absolute;
  width : 1000;
  height: 800;
  left    : 0;
  top     : 0;

  z-index : 999;
}
#loading {
  position: absolute;
  width   : 400;
  height  : 200;
  left    : 300;
  top     : 400;
  z-index : 1000;

}

#titulPage {
  position: absolute;
  width : 1000;
  height: 800;
  visibility: hidden;
}
#fonTitulPage {
  position: absolute;
  width : 1000;
  height: 800;
  left  : 0;
  top   : 0;
}
#buttonStart {
  position: absolute;
  width : 150;
  height: 150;
  cursor: pointer;
  left  : 550;
  top   : 650;
}
#buttonOff {
  position: absolute;
  width : 140;
  height: 140;
  cursor: pointer;
  left  : 400;
  top   : 654;
}
#buttonUp {
  position: absolute;
  width : 40;
  height: 40;
  cursor: pointer;
  left  : 910;
  top   : 705;
}
#buttonDown {
  position: absolute;
  width : 40;
  height: 40;
  cursor: pointer;
  left  : 750;
  top   : 705;
}
#indLvlTitul {
  position: absolute;
  width : 120;
  height: 38;
  left  : 790;
  top   : 706;
}
#beginLvl {
  position: absolute;
  width : 100;
  height: 16;
  left  : 800;
  top   : 712;
  font-family:"Times New Roman",sans-serif;
  font-size: 140%;
  color: FireBrick;
  text-align: center;

}
#infoGame {
  position: absolute;
  width : 370;
  height: 370;
  left  : 40;
  top   : 90;
  font-family:"Times New Roman",sans-serif;
  font-size: 150%;
  color: black;
  text-align: left;
  border-color: black;
  border-style: solid;
  border-width: 5;
  background-color: white;
  overflow: scroll;
  opacity : 0;
}
#buttonRules {
  position: absolute;
  width : 180;
  height: 40;
  cursor: pointer;
  left  : 40;
  top   : 40;
}
#buttonInfo {
  position: absolute;
  width : 180;
  height: 40;
  cursor: pointer;
  left  : 230;
  top   : 40;
}
#money{
  position: absolute;
  cursor: pointer;
  left  : 550;
  top   : 100;
}
/* --------------------------------------------------------------------------*/
#gamePage {
  position: absolute;
  width : 1000;
  height: 800;

  visibility: hidden;
}
#lid {
  position: absolute;
  width : 800;
  height: 800;
  left  : 0;
  top   : 0;
  z-index: 1;
  }
#sea1 {
  position: absolute;
  width : 1500;
  height: 800;
  left  : -300;
  top   : 0;
  z-index: 1;
}
#sea2 {
  position: absolute;
  width : 1500;
  height: 900;
  left  : -300;
  top   : -100;
  z-index: 1;
}
#sky {
  position: absolute;
  width : 1000;
  height: 300;
  left  : -100;
  top   : 0;
  z-index: 1;
}
#land {
  position: absolute;
  width : 1100;
  height: 400;
  left  : 4000;
  top   : 0;
  z-index: 1;
}
#periscop{
  position: absolute;
  width : 800;
  height: 800;
  left  : 0;
  top   : 0;
  z-index: 1;
}
#crosshair{
  position: absolute;
  width : 800;
  height: 800;
  left  : 0;
  top   : 0;
  z-index: 1;
}
#panel {
  position: absolute;
  width : 200;
  height: 800;
  left  : 800;
  top   : 0;
}
#buttonPerLeft {
  position: absolute;
  width : 100;
  height: 100;
  cursor: pointer;
  left  : 40;
  top   : 680;
  z-index: 1;
}
#buttonPerRight {
  position: absolute;
  width : 100;
  height: 100;
  cursor: pointer;
  left  : 660;
  top   : 680;
  z-index: 1;
}
#indRotatePeriscop{
  position: absolute;
  width : 120;
  height: 38;
  left  : 340;
  top   : 20;
}
#indRotatePerText {
  position: absolute;
  width : 100;
  height: 16;
  left  : 350;
  top   : 26;
  font-family:"Times New Roman",sans-serif;
  font-size: 140%;
  color: black;
  text-align: center;
}
#indLeftTorped{
  position: absolute;
  width : 40;
  height: 40;
  left  : 280;
  top   : 750;
}
#indLeftTorpedText {
  position: absolute;
  width           : 30;
  height          : 30;
  left            : 285;
  top             : 755;
  font-family     :"Times New Roman",sans-serif;
  font-size       : 140%;
  color           : black;
  background-color: lightblue;
  text-align      : center;
  cursor          : pointer;

}
#indCenterTorped{
  position: absolute;
  width : 40;
  height: 40;
  left  : 381;
  top   : 750;
}
#indCenterTorpedText {
  position: absolute;
  width : 30;
  height: 30;
  left  : 386;
  top   : 755;
  font-family:"Times New Roman",sans-serif;
  font-size: 140%;
  color: black;
  background-color: lightblue;
  text-align: center;
  cursor : pointer;

}
#indRightTorped{
  position: absolute;
  width : 40;
  height: 40;
  left  : 480;
  top   : 750;
}
#indRightTorpedText {
  position: absolute;
  width : 30;
  height: 30;
  left  : 485;
  top   : 755;
  font-family:"Times New Roman",sans-serif;
  font-size: 140%;
  color: black;
  background-color: lightblue;
  text-align: center;
  cursor : pointer;
}
#sonar {
  position: absolute;
  width        : 200;
  height       : 200;
  left         : 800;
  top          : 0;
  z-index      : 1;
  cursor       : pointer;
}
#radio {
  position: absolute;
  width : 200;
  height: 120;
  left  : 800;
  top   : 450;
  z-index: 1;
}
#pribor {
  position: absolute;
  width : 200;
  height: 160;
  left  : 800;
  top   : 640;
  z-index: 1;
}
#indikatorDos {
  position: absolute;
  width : 200;
  height: 160;
  left  : 800;
  top   : 200;
  z-index: 1;
}


.ships {
  position: absolute;
}

}
.torpeds {
  position: absolute;
  z-index : 1;
  width   : 20;
  height  : 60;
}
